build/
node_modules/
coverage/
coverage.json
secret.json
.DS_Store

key.json
key_kovan.json
key_mainnet.json
.env
artifacts/
cache/

# others
contractsFlat
test_archive1
test_archive2
test-HF-Harvest
abi
archives
yarn-error.log
removed.c
rNotes.c
deployOld
aPictures1
scripts/hardhat.configOld.ts
yarn.lock
.openzeppelin
slither-output.txt
.history/
1
tests-output